<html>
<head>
</head>
  <body>
    Add listing
    <form action="/listings" method="post">
      <label>Name:
        <input type="text" name="name">
      </label>
      <label>Description:
        <input type="text" name="description">
      </label>
      <label>Price:
        <input type="text" name="price">
      </label>
      <label>Available from:
        <input type="date" name="available_from">
      </label>
      <label>Available to:
        <input type="date" name="available_to">
      </label>
      <input type="submit" value="List my space!">
    </form>

  </body>
</head>
