<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-home"></span>
                Makers BnB
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/listings">Spaces</a></li>
            <li><a href="/listings/new">New space</a></li>
            <li><a href="/bookings">Bookings</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if (currentUser) { %>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Logged in: <%= currentUser.email %> </a></li>
            <li><a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          <%} else {%>
            <li><a href="/users/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <% } %>
        </ul>
    </div>
</nav>
