<html>
<head>
</head>
<body>
  <h1>Book a listing</h1>
  <p>You've chosen the following item:</p>
  <%= listing.name %><br>
  <%= listing.description%><br>
  Available from: <%= listing.availableFrom %><br>
  Available to: <%= listing.availableTo %><br>
</body>
</html>
