<html>
<head>
</head>
  <body>
    LOG IN
    <form action="/users/login" method="post">
      <label>email:
        <input type="text" name="email">
      </label>
      <label>password:
        <input type="password" name="password">
      </label>
      <input type="submit" value="Log in">
    </form>

  </body>
</head>
</html>
