<% layout('../layout') -%>
<h1>Welcome! Please sign up </h1>
<form action="/users/new" method="post">
  <label>Name:
    <input type="text" name="name">
  </label>
  <label>Email:
    <input type="email" name="email">
  </label>
  <label>Password:
    <input type="password" name="password">
  </label>
  <label>Confirm Password:
    <input type="password" name="password_confirmation">
  </label>
  <input type="submit" value="Sign up">
</form>
